#Question 2
set.seed(10)
#Load data
library(foreign)
library(haven)
data1 <- read_dta("C:/Users/sdsformand/Dropbox/Delte mapper/studiegrupper/Kandidat m. Anders/Mikro økonometri/EKSAMEN JANUAR/take-home.dta")

#Task 2.1
#---------------------------------------------------------------------------------#
reg1 <- lm(earnwk ~ age + female + hhsize + treat, 
           data = subset(data1, employed==1))
summary(reg1)

summary(lm(treat ~ age + female + hhsize, 
           data = subset(data1, employed==1)))

reg2 <- lm(earnwk ~ age + female + hhsize + treat, 
              data = subset(data1, employed==1 & assignment==1))
summary(reg2)

#Sample selection bias?
sum(ifelse(data1$assignment == 1 & data1$treat == 0, 1, 0))

#Task 2.4
data <- subset(data1, employed==1)
#---------------------------------------------------------------------------------#
# Simple Regression Adjustment
sra_t          <- lm(earnwk ~ age + female + hhsize, 
                     data = subset(data, treat == 1))
sra_nt         <- lm(earnwk ~ age + female + hhsize, 
                     data = subset(data, treat == 0))
XT             <- model.matrix(sra_t)
beta_t         <- coef(sra_t)
beta_nt        <- coef(sra_nt)
beta           <- beta_t - beta_nt
M              <- matrix(cbind(1, data$age, data$female, data$hhsize)
                         , ncol = 4)
ate_SRA        <- mean(M %*% beta)
att_SRA        <- mean(XT %*% beta)

ate_SRA
att_SRA

# Inverse Probability Weighting
prob           <- glm(treat ~ age + female + hhsize, data = data, 
                      family = binomial("probit"))
px             <- pnorm(M %*% coef(prob))
ate_IPW <- mean(((data$treat - px)*data$earnwk)/(px*(1-px)))
att_IPW <- sum(data$treat)^(-1)*sum(((data$treat - px)*data$earnwk)/((1-px)))
ate_IPW
att_IPW

# Beregning af standardized bias (support problem)
sb_age <- (mean(subset(data,treat==1)$age)-mean(subset(data,treat==0)$age))/
  (sd(subset(data,treat==1)$age)+sd(subset(data,treat==0)$age))

sb_female <- (mean(subset(data,treat==1)$female)-mean(subset(data,treat==0)$female))/
  (sd(subset(data,treat==1)$female)+sd(subset(data,treat==0)$female))

sb_hhsize <- (mean(subset(data,treat==1)$hhsize)-mean(subset(data,treat==0)$hhsize))/
  (sd(subset(data,treat==1)$hhsize)+sd(subset(data,treat==0)$hhsize))

sb_hrswk <- (mean(subset(data,treat==1)$hrswk)-mean(subset(data,treat==0)$hrswk))/
  (sd(subset(data,treat==1)$hrswk)+sd(subset(data,treat==0)$hrswk))

# LATE
(mean(subset(data, assignment==1)$earnwk)-mean(subset(data, assignment==0)$earnwk))/
  (mean(subset(data, assignment==1)$treat)-mean(subset(data, assignment==0)$treat))

# Bootstrap
library(boot)
# Bootstrap ate_sra
boot.ate_sra <-function(data, indices){
  data <- data[indices,]
  sra_t          <- lm(earnwk ~ age + female + hhsize, 
                       data = subset(data, treat == 1))
  sra_nt         <- lm(earnwk ~ age + female + hhsize, 
                       data = subset(data, treat == 0))
  XT             <- model.matrix(sra_t)
  beta_t         <- coef(sra_t)
  beta_nt        <- coef(sra_nt)
  beta           <- beta_t - beta_nt
  M              <- matrix(cbind(1, data$age, data$female, data$hhsize), 
                           ncol = 4)
  ate_SRA        <- mean(M %*% beta)
  att_SRA        <- mean(XT %*% beta)
  return(ate_SRA)
}
results.ate_sra <- boot(data=data, statistic=boot.ate_sra, R=10000)
plot(results.ate_sra)
boot.ci(results.ate_sra,type="norm")

# Bootstrap att_sra
boot.att_sra <-function(data, indices){
  data <- data[indices,]
  sra_t          <- lm(earnwk ~ age + female + hhsize, 
                       data = subset(data, treat == 1))
  sra_nt         <- lm(earnwk ~ age + female + hhsize, 
                       data = subset(data, treat == 0))
  XT             <- model.matrix(sra_t)
  beta_t         <- coef(sra_t)
  beta_nt        <- coef(sra_nt)
  beta           <- beta_t - beta_nt
  M              <- matrix(cbind(1, data$age, data$female, data$hhsize), 
                           ncol = 4)
  ate_SRA        <- mean(M %*% beta)
  att_SRA        <- mean(XT %*% beta)
  return(att_SRA)
}
results.att_sra <- boot(data=data, statistic=boot.att_sra, R=10000)
plot(results.att_sra)
boot.ci(results.att_sra,type="norm")

#Bootstrap ate_IPW
boot.ate_IPW <-function(data, indices){
  d <- data[indices,]
  prob           <- glm(treat ~ age + female + hhsize, data = d,
                        family = binomial("probit"))
  M              <- matrix(cbind(1, d$age, d$female, d$hhsize), ncol = 4)
  px             <- pnorm(M %*% coef(prob))
  ate_IPW <- mean(((d$treat - px)*d$earnwk)/(px*(1-px)))
  att_IPW <- sum(d$treat)^(-1)*sum(((d$treat - px)*d$earnwk)/((1-px)))
  return(ate_IPW)
}
results.ate_IPW <- boot(data=data, statistic=boot.ate_IPW, R=10000)
plot(results.ate_IPW)
boot.ci(results.ate_IPW,type="norm")

# Bootstrap att_IPW
boot.att_IPW <-function(data, indices){
  d <- data[indices,]
  prob           <- glm(treat ~ age + female + hhsize, data = d,
                        family = binomial("probit"))
  M              <- matrix(cbind(1, d$age, d$female, d$hhsize), ncol = 4)
  px             <- pnorm(M %*% coef(prob))
  ate_IPW <- mean(((d$treat - px)*d$earnwk)/(px*(1-px)))
  att_IPW <- sum(d$treat)^(-1)*sum(((d$treat - px)*d$earnwk)/((1-px)))
  return(att_IPW)
}

results.att_IPW <- boot(data=data, statistic=boot.att_IPW, R=10000)
plot(results.att_IPW)
boot.ci(results.att_IPW,type="norm")

# Bootstrap LATE
boot.LATE <-function(data, indices){
  data <- data[indices,]
  return((mean(subset(data, assignment==1)$earnwk)-
            mean(subset(data, assignment==0)$earnwk))/
           (mean(subset(data, assignment==1)$treat)-
              mean(subset(data, assignment==0)$treat)))
}
results.LATE <- boot(data=data, statistic=boot.LATE, R=10000)
results.LATE
plot(results.LATE)
boot.ci(results.LATE,type="norm", conf = 0.95)

# Save bootstrap results
save(results.ate_sra, results.att_sra, results.ate_IPW, results.ate_IPW, results.LATE, 
     file = "bootstrap.results.RData" )

# Test for hrswk

sum(data1$hrswk>0)
sum(data1$employed==1)
sum(data1$hrswk>0 & data1$employed==0)
